.informacion {
	background: #fff
}
.titulo-informacion {
	width: 100%;
	height: 100%
}
.titulo-informacion h3 {
	padding: 1px;
	color: #000;
	font-size: 30px;
	text-align: center;
	padding-top: 12px;
}

.texto-informacion {
	padding-left: 4px
}
.imagen-informacion{
	height: 100%;
	width: 50%;
	padding-left: 160px;
}
.imagen-inform{
	margin-top: -555px;
	width:1000px;
}
.container-informacion {
	margin-top: 50px;
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}
.card-informacion {
	width: 500px;
	height: 110px;
	margin: 20px;
	background: rgba(255, 255, 255, 0.3);
	transition: all 400ms ease;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	align-items: center;
	padding: 1rem;
	text-align: left;
}

.card-informacion:hover,
 .card-informacion-left:hover{
	transform: translateY(-10px); 
	cursor: pointer;
}
.card-informacion-left{
	width: 500px;
	height: 110px;
	margin: 20px;
	background: rgba(255, 255, 255, 0.3);
	transition: all 400ms ease;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	align-items: center;
	padding: 1rem;
	text-align: left;
	margin-left: 100px;
}
.card-informacion-text {
	text-align: center;
	padding-top: 10px;
}
.titulo-card {
	font-weight: bold
}
.img-informacion {
	width: auto;
	height: 50px
}
.boton-informacion {
	position: absolute;
	bottom: 2%;
	left: 88%;
	width: 100%;
	height: 100%
}
#botton {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 7px;
	bottom: 4%;
	height: 35px;
	width: 100px;
	background: #1ba560;
	font-size: 14px;
	color: #fff;
	border: 0;
	padding: 0em;
	text-decoration: none
}
@media screen and (max-width:992px){
	.titulo-informacion {
		width: 100%;
		height: 100%
	}
	.titulo-informacion h3 {
		padding: 1px;
		margin-top: 18px;
		color: #000;
		font-size: 26px;
		text-align: center;
	}
	
	.texto-informacion {
		padding-left: 6px;
		margin: 0px;
		padding:0px 0px 10px;
		font-size: 13px;
		}
	.titulo-card {
		font-weight: bold;
	    padding-top:0px;
		margin: 0px;
		padding-right: 6px;
		font-size: 14px;
	}
	.imagen-informacion{
		height: 820px;
		width: 990px;
		margin-left: -1px;
	}
	.imagen-inform{
		margin-top: -52px;
		width:100%;
		height: 40%;
	}
	.container-informacion .imagen-informacion{
     grid-column: 1/3;
	}
	.container-informacion {
		width: 100%;
		height: 90%;
		display: grid;
		margin-left: 40px;
		margin-right:20px;
		padding-right: 90px;
		grid-template-columns: repeat(2, 1fr);
		flex-grow: 1;
	}
	.container-informacion .titulo-informacion{
		grid-column: 1/3;
	}
	.card-informacion {
		width: 370px;
		height: 90px;
		margin: 10px 0px 0px 20px;
		margin-left:170px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
		margin-top: 14px;
	}
	
	.card-informacion:hover,
	 .card-informacion-left:hover{
		transform: translateY(-10px); 
		cursor: pointer;
	}
	.card-informacion-left{
		width: 370px;
		height: 90px;
		margin: 10px 150px 10px 10px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
		margin-top: 14px;
	}
	.card-informacion-text {
		text-align: center;
		padding-top: 10px;
	}
	.titulo-card {
		font-weight: bold
	}
	.img-informacion {
		width: auto;
		height: 50px
	}
	.boton-informacion {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		background: none;
	}
	#botton {
		background: none;
	}
}
@media screen and (max-width:892px) {
	
	
	.titulo-informacion {
		width: 100%;
		height: 100%
	}
	.titulo-informacion h3 {
		padding: 1px;
		margin-top: 18px;
		color: #000;
		font-size: 26px;
		text-align: center;
	}
	
	.texto-informacion {
		padding-left: 6px;
		margin: 0px;
		padding:0px 0px 10px;
		font-size: 13px;
		}
	.titulo-card {
		font-weight: bold;
	    padding-top:0px;
		margin: 0px;
		padding-right: 6px;
		font-size: 14px;
	}
	.imagen-informacion{
		height: 40%;
		width: 990px;
		margin-left:-50px;
	}
	.imagen-inform{
		margin-top: 2px;
		width:100%;
		height: 350px;
	}
	.container-informacion .imagen-informacion{
     grid-column: 1/3;
	}
	.container-informacion {
		width: 100%;
		height: 90%;
		display: grid;
		margin-left: 40px;
		margin-right:20px;
		padding-right: 90px;
		grid-template-columns: repeat(2, 1fr);
		flex-grow: 1;
	}
	.container-informacion .titulo-informacion{
		grid-column: 1/3;
	}
	.card-informacion {
		width: 370px;
		height: 90px;
		margin: 10px 0px 0px 20px;
		margin-left:170px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
		margin-top: 14px;
	}
	
	.card-informacion:hover,
	 .card-informacion-left:hover{
		transform: translateY(-10px); 
		cursor: pointer;
	}
	.card-informacion-left{
		width: 370px;
		height: 90px;
		margin: 10px 150px 10px 10px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
		margin-top: 14px;
	}
	.card-informacion-text {
		text-align: center;
		padding-top: 10px;
	}
	.titulo-card {
		font-weight: bold
	}
	.img-informacion {
		width: auto;
		height: 50px
	}
	.boton-informacion {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		background: none;
	}
	#botton {
		background: none;
	}
}
@media screen and (max-width:770px){
	.titulo-informacion {
		width: 100%;
		height: 100%
	}
	.titulo-informacion h3 {
		padding: 1px;
		margin-top: 10px;
		color: #000;
		font-size: 28px;
		text-align: center;
	}
	
	.texto-informacion {
		padding-left: 6px;
		margin: 0px;
		padding:0px 0px 10px;
		line-height: 1em;
		font-size: 13px;
		}
	.titulo-card {
		font-weight: bold;
	    padding-top:0px;
		margin: 0px;
		padding-right: 6px;
		font-size: 14px;
		line-height: 0.2em;
	}
	.imagen-informacion{
		height: 90%;
		width: 1121px;
		margin-left: -178px;
	}
	.imagen-inform{
		margin-top: -20px;
		width:100%;
		height: 680px;
	}
	.container-informacion .imagen-informacion{
     grid-column: 1/3;
	}
	.container-informacion {
		width: 100%;
		height: 90%;
		display: grid;
		margin-left: 40px;
		margin-right:20px;
		padding-right: 90px;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		flex-grow: 1;
	}
	.container-informacion .titulo-informacion{
		grid-column: 1/3;
	}
	.card-informacion {
		width: 340px;
		height: 90px;
		margin: 10px 0px 0px 20px;
		margin-left:220px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
	}
	
	.card-informacion:hover,
	 .card-informacion-left:hover{
		transform: translateY(-10px); 
		cursor: pointer;
	}
	.card-informacion-left{
		width: 340px;
		height: 90px;
		margin: 10px 200px 10px 10px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
	}
	.card-informacion-text {
		text-align: center;
		padding-top: 10px;
	}
	.titulo-card {
		font-weight: bold
	}
	.img-informacion {
		width: auto;
		height: 50px
	}
	.boton-informacion {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		background: none;
	}
	#botton {
		background: none;
	}
}
@media (max-width: 698px){
	.titulo-informacion {
		width: 100%;
		height: 100%
	}
	.titulo-informacion h3 {
		padding: 1px;
		margin-top: 18px;
		color: #000;
		font-size: 26px;
		text-align: center;
	}
	
	.texto-informacion {
		padding-left: 6px;
		margin: 0px;
		padding:0px 0px 10px;
		line-height: 1em;
		font-size: 13px;
		}
	.titulo-card {
		font-weight: bold;
	    padding-top:0px;
		margin: 0px;
		padding-right: 6px;
		font-size: 14px;
		line-height: 0.2em;
	}
	.imagen-informacion{
		height: 40%;
		width: 990px;
		margin-left:-190px;
	}
	.imagen-inform{
		margin-top: 2px;
		width:100%;
		height: 350px;
	}
	.container-informacion .imagen-informacion{
     grid-column: 1/3;
	}
	.container-informacion {
		width: 100%;
		height: 90%;
		display: grid;
		margin-left: 40px;
		margin-right:20px;
		padding-right: 90px;
		grid-template-columns: repeat(2, 1fr);
		flex-grow: 1;
	}
	.container-informacion .titulo-informacion{
		grid-column: 1/3;
	}
	.card-informacion {
		width: 270px;
		height: 90px;
		margin: 10px 0px 0px 20px;
		margin-left:220px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
		margin-top: 14px;
	}
	
	.card-informacion:hover,
	 .card-informacion-left:hover{
		transform: translateY(-10px); 
		cursor: pointer;
	}
	.card-informacion-left{
		width: 270px;
		height: 90px;
		margin: 10px 200px 10px 10px;
		background: rgba(255, 255, 255, 0.3);
		transition: all 400ms ease;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 14px;
		margin-top: 14px;
	}
	.card-informacion-text {
		text-align: center;
		padding-top: 10px;
	}
	.titulo-card {
		font-weight: bold
	}
	.img-informacion {
		width: auto;
		height: 50px
	}
	.boton-informacion {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		background: none;
	}
	#botton {
		background: none;
	}
}
@media screen and (max-width: 576px) {
	
	.titulo-informacion {
		width: 370px;
		height: 98%;
		margin-left: 34px;
		margin-right: 10px;
	}
	.titulo-informacion h3 {
		width: 100%;
		padding: 1px;
		width: 370px;
		margin-top: 480px;
		color: #000;
		font-size: 20px;
	}
	
	.texto-informacion {
		padding-left: 4px
	}
	.imagen-informacion{
		height: 0;
		width: 0;
		padding-left: 0;
		z-index: 0;
	}
	.imagen-inform{
		margin-top: 0;
		width:0;
		height: 0;
	}
	.container-informacion .imagen-informacion{
     grid-column: 1/3;
	}
	.container-informacion {
		width: 100%;
		height: 90%;
		margin-left: 1px;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		margin-top: -750px;
	}
	.container-informacion .titulo-informacion{
		grid-column: 1/3;
	}
	.card-informacion {
		margin-top: 10px;
		margin: 12px 0px 25px;
		margin-right:50px;
		height: 80px;
		width: 800px;
		font-size: 14px;
		padding: 14px;
		margin-top: 0px;
	}
	.card-informacion-left{
		margin-top: 10px;
		margin: 12px 0px 25px;
		margin-right:30px;
		margin-left: 47px;
		height: 80px;
		width: 800px;
		font-size: 14px;
		padding: 14px;
		margin-top: 0px;
	}
	
	.card-informacion:hover,
	 .card-informacion-left:hover{
		transform: translateY(-10px); 
		cursor: pointer;
	}
	
	.card-informacion-text {
		text-align: center;
		padding-top: 10px;
		padding: 1px;
	}
	.texto-informacion {
		padding-left: 6px;
		margin: 0px 0px 4px;
		
		}
	.titulo-card {
		font-weight: bold;
	    margin-top: 10px;
	}
	.img-informacion {
		width: auto;
		height: 50px
	}
	.boton-informacion {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		background: none;
	}
}
@media screen and (max-width:427px){
	.titulo-informacion h3 {
	    margin-top: 900px;		
    }
	.container-informacion {
		width: 100%;
		height: 15%;
		margin-left: 1px;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		margin-top: -270px;
	}
}
@media screen and (max-width:399px){
	.card-informacion-text {
		text-align: center;
		padding: 1px;
	}
	.texto-informacion {
		padding-left: 6px;
		margin: 0px;
		padding:0px 0px 10px;
		line-height: 1em;
		font-size: 13px;
		}
	.titulo-card {
		font-weight: bold;
	    padding-top:0px;
		margin: 0px;
		padding-right: 6px;
		font-size: 14px;
		line-height: 0.2em;
	}
	.card-informacion {
		padding: 10px;
		margin-top: 0px;
		}
	.card-informacion-left{
		margin-top: 10px;
		margin: 12px 0px 25px;
		margin-right:30px;
		margin-left: 47px;
		height: 80px;
		width: 800px;
		font-size: 14px;
		padding:4px;
		margin-top: 0px;
	}
}
@media screen and (max-width:361px){
	.texto-informacion {
		padding-left: 6px;
		margin: 0px;
		padding:0px 0px 10px;
		line-height: 1em;
		font-size: 12px;
		}
		.titulo-informacion {
			width: 370px;
			height: 98%;
			margin-right:50px;
		}
	.titulo-card {
		font-weight: bold;
	    padding-top:0px;
		margin: 0px;
		padding-right: 6px;
		font-size: 12px;
		line-height: 0.2em;
	}
	.card-informacion-left{
		margin-top: 10px;
		margin: 12px 0px 25px;
		margin-right:30px;
		margin-left: 47px;
		height: 80px;
		width: 800px;
		font-size: 14px;
		padding:4px;
		margin-top: 0px;
	}
}

@media screen and (max-width: 970px) {
	.boton-informacion {
		bottom: 0;
		left: 85%
	}
}
@media screen and (max-width: 640px) {
	.boton-informacion {
		bottom: 0;
		left: 79%
	}
}
@media screen and (max-width: 566px) {
	.boton-informacion {
		bottom: 0;
		left: 75%
	}
}
@media screen and (min-width: 320px) and (max-width: 427px) {
	.boton-informacion {
		bottom: 0;
		left: 60%
	}
	.titulo-informacion h3 {
		margin: 4px;
		padding: 1px
	}
}